@import "./theme.scss";

.home-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
};

.home-main-title {
    width: fit-content;
    text-align: center;
    font-size: 3.5rem;
    margin: 2%;
};

.website-description-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 75%;
};

.website-description-element {
    width: 40%;
    text-align: center;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: $container-border;
    background-color: $container-background;
    transition-duration: 0.1s;
}

.website-description-element:hover {
    scale: 1.05;
    border-width: 2px;
    border-color: $secondary-color;
    transition: 0.3s, border-width 0s;
}

.website-description-subtitle {
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: x-large;
};