$primary-color: #ae3feb;
$secondary-color: #7beb3f;
$container-border: #7f7f7f;
$container-background: #2f2f2f;
$top-bar-background: #1b1b1b;

:export {
    primary: $primary-color;
    secondary: $secondary-color;
}