@import "./theme.scss";

$normal-tab-background-opacity: 0;
$hover-tab-background-opacity: 0.15;

.top-bar-container {
    position: sticky;
    min-height: 75px;
    height: 75px;
    top: 0px;
    background-color: $top-bar-background;
    border-bottom: solid 4px $primary-color;
    border-radius: 5px;
};

.tabs-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
};

.tab-container {
    display: flex;
    height: 100%;
    width: 100px;
    background-color: rgba($primary-color, $normal-tab-background-opacity);
    align-content: center;
    justify-content: center;
    transition-duration: 0.2s;
};

.tab-container:hover {
    background-color: rgba($primary-color, $hover-tab-background-opacity);
    cursor: pointer;
    transition-duration: 0.2s;
};

.tab-container:hover > .tab-title, .active-tab-title {
    border-bottom-width: 2px;
    transition-duration: 0.1s;
};

.tab-title {
    width: 80%;
    text-align: center;
    border-bottom: solid 0px $secondary-color;
    transition-duration: 0.1s;
};

.active-tab-title {
    border-bottom-width: 2px;
    border-bottom-color: $primary-color;
};

